modules = ["web", "nodejs-22"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "CI=true PORT=5000 pnpm dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 22650
externalPort = 3001

[[ports]]
localPort = 22651
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "PORT=5000 node server/serve.js"]
build = ["bash", "-c", "PORT=5000 node scripts/build.js"]

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyB42oKwcnidARF1csT-zBGB-1bsvck8A_8"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "aa-mods.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_DATABASE_URL = "https://aa-mods-default-rtdb.firebaseio.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "aa-mods"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "aa-mods.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "208308827331"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:208308827331:android:a20b1c534f2b7df892de76"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-SEFN4WE4PT"
EXPO_PUBLIC_ONESIGNAL_APP_ID = "c0dd2a7a-37c7-450e-89a0-08c8ec3f446d"
EXPO_PUBLIC_ADMOB_APP_ID = "ca-app-pub-7386485617389952~7325371535"
EXPO_PUBLIC_ADMOB_BANNER_1 = "ca-app-pub-7386485617389952/7663752652"
EXPO_PUBLIC_ADMOB_BANNER_2 = "ca-app-pub-7386485617389952/9758596209"
EXPO_PUBLIC_ADMOB_NATIVE_ADVANCED = "ca-app-pub-7386485617389952/5429984321"
EXPO_PUBLIC_ADMOB_APP_OPEN = "ca-app-pub-7386485617389952/9177657642"
EXPO_PUBLIC_ADMOB_INTERSTITIAL = "ca-app-pub-7386485617389952/4082233314"
EXPO_PUBLIC_ADMOB_REWARDED = "ca-app-pub-7386485617389952/3085376641"
